[Unit]
Description=Set up DNS
Requires=systemd-resolved.service
Before=systemd-resolved.service

[Service]
ExecStart=/setup_dns.sh
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target